<h1>Playing our dice game</h1>

<ul>
  <li> To play the game, you must enter the name of the game as well as the desired number of players for the game.</li> 
  <li> If you have more than 1 human player, enter the other player's emails where specified.</li>
  <li> The remaining player slots will be AI.</li>
  <li> The order of players is randomized.</li>
  <li> When it is your turn you will be presented with your dice total and two options: make a claim or call a bluff.</li>
  <li> When making a claim you will be have two courses of action: be honest or bluff.</li>
  <li> The other option is to call a bluff. You would call a bluff when you think the player before you is being dishonest.</li>
  <li> If you were correct about the person bluffing, you get 150% of the bluff total and the bluffer loses double their bluff score.</li>
  <li> If you were wrong about the person bluffing, they steal that amount of points from you</li>
  <li> The winner is decided at the end of the 5th round</li>
  <li> In the event of a tie, </li>
</ul>
